<form action="/songs" method="post">

  <label for="Song">Song:</label>
  <input type="text" name="name" id="Name">

  <label for="Artist Name">Artist:</label>
  <input type="text" name="artist" id="Artist Name">

  <label for="Genre">Genre:</label>
  <% Genre.all.each do |genre| %>
  <ul>
  <li><label for="genre"><%= genre.name %></label>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  </li></ul>
  <% end %>
  <input type="submit" value="Create" id="submit">
</form>
